h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Microsoft YaHei';
    color:#ffffff;
}

.login-page{
    background:url("bkg-win8-2.jpg");
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}

.code
{
    background-image:url("3.jpg");
    font-family:Arial;
    font-style:italic;
    color:Red;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    height:30px;
    width: 80px;
    cursor: pointer;
}
.unchanged
{
    border:0;
}
#loadingImage {
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 9999;
    display:none;
}
